header.home {
    background-color: #f1f1f1;
    padding: 20px;
    background-image: url('images/K-BOS Desgin Hero Image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20vw;
}

footer {
    background-color: #013a38;
    color: #ffffff;
    text-align: center;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px 0;
    font-family: Lato, sans-serif;
    font-size: 1.05vw;
}
body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
}
h1 {
    font-family: Lato, sans-serif;
    color: #013a38;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-family: Lato, sans-serif;
    color: #fff;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
}
p {
    font-family: Lato, sans-serif;
    color: #013a38;
    font-size: 1em;
}
p.footer {
    font-size: 0.75em;
    color: white;
    text-align: center;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
nav {
    background-color: #75998b;
    padding: 10px;
    text-align: center;
    color: #fff;
}
nav a {
    text-decoration: none;
    color: #fff;
}
nav.home {
    background-color: #75998b00;
}
.footer-icons {
    display: flex;
    align-items: center;
    gap: 3vw; 
    justify-content: center; 
    margin-bottom: 8px;
}
main {
    width:100%;
}
.split-row {
    display:flex;
    width:100%;
}
.small-box{
    width: 30%;
    padding: 1.5%;
    justify-content: center;
    align-items: center;
}
.large-box{
    width:62%;
    padding: 3%;
    text-align: left;
}
.button-container {
    text-align: center;
}
.button {
    background-color: #E56B48;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
}
div.green {
    background-color: #75998b;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
}
hr.greenbackground {
    border: 0;
    height: 4px;
    border-radius:2px;
    background-color: #fff;
    width: 10%;
    align-self: center;
}
